//logo color
$logo-color: #751713;

//image bg color
$image-bg-color: #c56944;

//main colors
$primary-color: #ffcccc;
$primary-light-color: #ff9999;
$primary-dark-color: #ff6666;
$primary-very-dark-color: #e24848; 

//secondary colors
$secondary-color: #c74200;
$secondary-light-color: #fad884;
$secondary-dark-color: #f56b26;

$crimson-red-color: #eb1f27;

$grey-color: rgb(138, 138, 138);
$grey-dark-color: rgb(97, 96, 96);
$grey-very-dark-color: rgb(34, 33, 33);
$grey-dark-color: #333;

$white-color: #fff;
$white-smoke: rgb(240, 238, 237);

$black-color: #000;

$profile-primary-color: #eb2f64;
$profile-primary-light-color: #ff3366;
$profile-primary-dark-color: #8a265d;

$profile-grey-light-1-color: #faf9f9;
$profile-grey-light-2-color: #f4f2f2;
$profile-grey-light-3-color: #f0eeee;
$profile-grey-light-4-color: #ccc;
$profile-grey-dark-1-color: #333;
$profile-grey-dark-2-color: #777;
$profile-grey-dark-3-color: #999;

$profile-black-color: rgb(0, 0, 0);
$profile-caption-primary: #101d2c;

//for display posts
$for-sale: #e4e709;
$for-sale-dark: rgb(150, 140, 0);

$secondary-light-color: #fad884;
$secondary-dark-color: #f56b26;

$tertiary-light-color: #2998ff;

$tertiary-dark-color: #5643fa;

$tertiary-very-light-color: #89c2f7;
$tertiary-very-dark-color: #00213f;
$green-light-color: rgb(98, 255, 66);
$green-dark-color: rgb(0, 139, 46);

//colors for register and login form
$profile-magenta-color: #ff00ff;
$profile-mediumpurple-color: #9370db;
$profile-orchid-color: #ff00ff;
$profile-darkviolet-color: #9370db;
$profile-darkerviolet-color: rgb(118, 91, 173);
$profile-indigo-color: #ff00ff;
$profile-light-color: #9370db;

//color for the input style
$grey-dark-2-color: #999;
$grey-light-2-color: rgb(224, 215, 215);

//Real estate company example colors
$harcourts-color: #001f49;
$brad-teal-color: #1c2273;
$upa-color: #ffeb01;
$barryplant-color: #fdfdfd;
$iconek-color: #231f20;

//social media icons colors
$facebook: #3b5998;
$twitter: #1da1f2;
$youtube: #ff0000;
$instagram: #c32aa3;
$pinterest: #bd081c;
$LinkedIn: #007bb5;
$gplus: #db4437;
$snapchat: #fffc00;
$watsup: #25d366;
$Tumblr: #35465d;
$Reddit: #ff4500;
$Spotify: #ff4500;
$Amazon: #ff9900;

//fonts
$default-font-size: 3rem; //16px 1rem =16px  16/10 =1.6

$nunito-font: 'Nunito', sans-serif;
$lato-font: 'Lato', sans-serif;
$roboto-font: 'Roboto', sans-serif;
$open-sans-font: 'Open Sans', sans-serif;

//header bubble
$bubble-size: 4.5rem;
