* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Variables in SASS */
$primary-color: #be0808;
$secondary-color: #1b70b6;
$tertiary-color: #199619;
$link-color: #fff;

/* Mixins (functions) in SASS*/
@mixin link-styles {
	font-size: 35px;
	text-align: center;
	padding: 20px 35px;
}

/* variables aplication and nesting example */
.my-style {
	padding: 10px 20px;
	height: 200px;
	background-color: $secondary-color;

	a {
		display: block;
		margin-left: 10px;
		font-size: 25px;

		&:first-child {
			color: $link-color;
			@include link-styles();
		}
		&:last-child {
			color: $tertiary-color;
			@include link-styles();
		}
	}
}

@import "abstracts/functions";
@import "abstracts/helpers";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/base";
@import "base/animations";
@import "base/typography";
@import "base/utilities";

/* @import "component/base"; */

@import "layout/header";
@import "layout/footer";

/* @import "themes"; */
/* @import "vendors"; */

@import "pages/home";
