.primary-heading {
	color: $white-color;
	text-transform: uppercase;
	backface-visibility: hidden;

	&--front {
		display: block;
		font-size: 7rem;
		font-weight: 400;
		letter-spacing: 1rem;
		animation: headerFrontAnimation 1.5s;
		text-shadow: 0px 0px 2px #000, 0px 0px 1px #888;
	}

	&--small {
		display: block;
		font-size: 2rem;
		font-weight: 700;
		letter-spacing: 0.5rem;
		text-align: center;
		animation: headerSmallAnimation 3.7s;
		text-shadow: 0px 0px 2px #000, 0px 0px 1px #888;
	}
}